{% extends 'base.html.twig' %}

{% block title %}Einloggen!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger" style="color: red; font-size: 35px">Entweder ungültige Daten oder noch nicht registriert!⚠</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            <a style="text-align:left;font-family:Cursive;letter-spacing:5px;color:Green;font-size: 50px;
    background-color:#FFFFFF;" >Sie sind als ===>  {{ app.user.userIdentifier }}  <===Angemeldet ✅</a>,
            <a href="{{ path('app_logout') }}"style=" color:red;font-size: 50px" > Logout</a>
        </div>
    {% endif %}

    <h1 style="text-align:left;font-family:Cursive;letter-spacing:5px;color:#0000FF;
    background-color:#FFFFFF;">Bitte Einloggen :)</h1>
    <label for="inputUsername" style="text-align:left;font-family:Cursive;letter-spacing:5px;color:black;
    background-color:#FFFFFF;">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword"  style="text-align:left;font-family:Cursive;letter-spacing:5px;color:black;
    background-color:#FFFFFF;">Passwort</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Einloggen
    </button>
    <br><br>
    <h2>Noch kein Konto erstellt? Bitte Registrieren von hier ===>
        <a href="{{ path('app_register') }}",style=" color:black">Register</a></h2>


</form>
{% endblock %}
